.shower {
    --slide-ratio: calc(16 / 9);
    --color-key: #ffd000;
    --color-black: #444;
    --color-heading: #202020;
    font: 400 24px/2 'Artegra Sans', sans-serif;
}

.shower h1 {
    font: 700 1.17em/1 'Artegra Sans', sans-serif;
}

.shower h2 {
    font: 700 2em/1 'Artegra Sans', sans-serif;
}

.caption h1 {
    color: var(--color-heading);
}

.caption p {
    color: var(--color-heading);
}

.slide {
    background-image: url('pictures/back16_9.png');
    background-size: contain;
    color: #444;
}

.slide .shout {
    color: var(--color-heading);
    font-size: 80px;
}

.progress {
    top: 0;
    bottom: unset;
}

.slide::after {
    color: var(--color-black);
    font-weight: 700;
    top: 30px;
    right: 30px;
    left: unset;
    text-align: right;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd000;
}

#cover h2 {
    margin: 70px 0 0;
    color: var(--color-heading);
    font-size: 70px;

}

#cover p {
    margin: 10px 0 0;
    color: var(--color-heading);
    font-size: 20px;
}

#cover p a {
    color: white;
}

img:not(.cover) {
    width: 100%;
    border-radius: 4px;
}

img:not(.cover).content {
    width: unset;
    max-height: 370px;
    display: block;
    margin: 0 auto;
}

h3 {
    margin-top: 0;
    color: #444;
}

.cover {
    height: 100%;
    width: 100%;
    /*object-fit: cover;*/
    /*object-position: -50px bottom;*/
}

ul li {
    line-height: 1.5;
    margin-bottom: 15px;
}

.columns ul li {
    line-height: 1.3;
    margin-bottom: 15px;
    font-size: 20px;
    margin-left: 0;
}

.tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.tags li:before {
    display: none;
}

.tags li {
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 7px 20px;
    font-weight: 600;
    line-height: 2 !important;
}

.tags.green li {
    background: #057537;
    color: #fffbc6;
}

.tags.red li {
    background: #b10019;
    color: #fffbc6;
}

.tags.blue li {
    background: #002564;
    color: #fffbc6;
}

.color-img {
    min-height: 380px;
}


blockquote {
    font-style: normal !important;
    font-size: 16px;
    color: #000;
    line-height: 1.3;
    font-family: "Comic Sans MS" ;
}
